./*/geth
*/geth
./*/keystore
*/keystore
./*/passwd.sec
*/passwd.sec
./*/geth.ipc
*/geth.ipc
./*/history
*/history
./genesis*
genesis*
./*/*/truf*
*.swp
*~
./Projects/*
sync.html
.testnode/*
testnode/*
testnode/*/*
